<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>新增数据</title>
    </head>
    <body class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="" action="insert" method="post">
                    <label>姓名：</label>
                    <input type="text" name="name" value="">
                    <label>用户名：</label>
                    <input type="text" name="username" value="">
                    <label>性别：</label>
                    <select class="" name="sex">
                        <option value="0">男</option>
                        <option value="1">女</option>
                    </select>
                    <label>邮箱：</label>
                    <input type="text" name="email" value="">
                    <button type="submit" name="button">保存</button>
                </form>
            </div>
        </div>
    </body>
</html>
